:root {
  --OFF: "off";
  --Blue: #617dde;
  --DBlue: #315aea;
  --Dark: #14161e;
}
@font-face {
  font-family: "off";
  src: url("./../public/fonts/Offside-Regular.ttf");
}
html,
body {
  margin: auto;
  padding: auto;
}
* {
  outline: none;
  text-decoration: none;

  font-family: var(--OFF);
}
