.slide_container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    103.95deg,
    var(--Blue) 54.12%,
    rgba(9, 31, 235, 0) 203.99%
  );
}
.header {
  width: 100%;
  height: auto;
}
.navbar {
  width: 100%;
  height: auto;
  display: flex;
  background: var(--Dark);
  overflow: hidden;
}
.logo a {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
.logo {
  margin: 15px;
}
.nav {
  margin: 18px;
}
.nav a {
  color: #fff;
  transition-duration: 0.7s;
  padding: 20px 15px 20px 15px;
}

.nav a:hover {
  background: var(--Blue);
}

.contact {
  position: absolute;
  right: 20px;
  top: 20px;
}

.contact a {
  color: #fff;
  margin: 5px;
  padding: 9px 25px 9px 25px;
  border-radius: 50px;
}

/*Media Query Home !*/
@media (max-width: 1032px) {
  .navbar {
    display: block !important ;
    padding-bottom: 50px;
  }
  .nav {
    display: block;
    margin: initial;
    width: 100%;
    height: auto;
    padding: 20px 0px 40px 20px;
  }
  .nav a {
    display: block;
    padding: 8px initial 8px initial;
  }
  .contact {
    top: initial;
    right: initial;
    position: relative;
    width: 100%;
    text-align: center;
  }
  .contact a {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav a:hover {
    background: none;
  }
}
