.slide_container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    103.95deg,
    var(--Blue) 54.12%,
    rgba(9, 31, 235, 0) 203.99%
  );
}
.header {
  width: 100%;
  height: auto;
}
.navbar {
  width: 100%;
  height: auto;
  display: flex;
  background: var(--Dark);
  overflow: hidden;
}
.logo a {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
.logo {
  margin: 15px;
}
.nav {
  margin: 18px;
}
.nav a {
  color: #fff;
  transition-duration: 0.7s;
  padding: 20px 15px 20px 15px;
}

.nav a:hover {
  background: var(--Blue);
}

.contact {
  position: absolute;
  right: 20px;
  top: 20px;
}

.contact a {
  color: #fff;
  margin: 10px;
}
