.slide_container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    103.95deg,
    var(--Blue) 54.12%,
    rgba(9, 31, 235, 0) 203.99%
  );
}
.header {
  width: 100%;
  height: auto;
}
.navbar {
  width: 100%;
  height: auto;
  display: flex;
  background: var(--Dark);
  overflow: hidden;
  z-index: 1;
  position: absolute;
}
.logo a {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
.logo {
  margin: 15px;
}
.nav {
  margin: 18px;
}
.nav a {
  color: #fff;
  transition-duration: 0.7s;
  padding: 20px 15px 20px 15px;
}

.nav a:hover {
  background: var(--Blue);
}

.contact {
  position: absolute;
  right: 20px;
  top: 20px;
}

.contact a {
  color: #fff;
  margin: 5px;
  padding: 9px 25px 9px 25px;
  border-radius: 50px;
}
.resbtn {
  position: absolute;
  right: 20px;
  top: 11px;
  display: none;
}
.resbtn button {
  background: none;
  border: 2px solid #fff;
  border-radius: 3px;
  padding-top: 4px;
  cursor: pointer;
}

.desc {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#desc_title {
  color: #fff;
  font-weight: 700;
  font-size: 27px;
  width: 500px;
}
#desc_txt {
  color: #fff;
  width: 600px;
  font-size: 21px;
  margin-bottom: 40px !important;
}

#serv_link {
  color: #fff;
  padding: 13px 60px 13px 60px;
  border: 2px solid #fff;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.288);
  transition-duration: 0.5s;
}
#serv_link:hover {
  background: rgba(255, 255, 255, 0.459);
}

.explore {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}
.explore button {
  color: #fff;
  background: rgba(255, 255, 255, 0.288);
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 15px !important;
  display: block;
  transition-duration: 0.5s;
  margin: auto;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  padding-left: 7px;
  cursor: pointer;
}
.explore a:hover {
  background: rgba(255, 255, 255, 0.459);
}

.image {
  width: 395px;
  height: 290px;
  background-image: url("./../public/image1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/*Media Query Home !*/
@media (max-width: 1032px) {
  .navbar {
    display: block !important ;
  }
  .nav {
    display: none;
    margin: initial;
    width: 100%;
    height: auto;
    padding: 20px 0px 40px 20px;
  }
  .nav a {
    display: block;
    padding: 8px initial 8px initial;
  }
  .contact {
    top: initial;
    right: initial;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    display: none;
  }
  .contact a {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav a:hover {
    background: none;
  }
  .resbtn {
    display: block;
  }
}
@media (min-width: 1032px) {
  .nav,
  .contact {
    display: block !important;
  }
}

@media (max-width: 1048px) {
  #desc_title {
    font-size: 20px;
  }
  #desc_txt {
    font-size: 18px;
    width: 480px;
  }
  .image {
    width: 315px;
    height: 230px;
    margin-right: 40px;
  }

  .article {
    margin-left: 40px;
  }
}

@media (max-width: 896px) {
  #desc_txt {
    width: 370px;
    font-size: 15px;
  }
  #desc_title {
    font-size: 19px;
    width: 80%;
  }
  #serv_link {
    font-size: 13px;
    padding: 10px 50px 10px 50px;
  }
}

@media (max-width: 794px) {
  .desc {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;

    justify-content: center;
  }
  .image {
    margin-right: initial !important;
    margin-bottom: 20px !important;
  }
  .article {
    margin-left: initial !important;
  }
  #desc_txt,
  #desc_title {
    text-align: center;
    width: 80%;
    margin: auto;
  }
  #desc_txt {
    margin-top: 15px;
  }
  .explore {
    bottom: 10px;
  }
}

/*OBJ*/

.obj_container {
  width: 100%;
  height: auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 80px 0px 40px 0px;
  background: #ededed;
}

.card {
  width: 350px;
  height: 400px;
  background: #fff;
  margin: 20px;
  margin-top: 20px !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.541);
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  transition-duration: 0.5s;
}
.card:hover {
  margin-top: -10px !important;
}
#card_title {
  color: #131313;
  font-weight: 700;
  font-size: 20px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
#card_txt {
  color: #131313;
  font-size: 18px;
  width: 90%;
  text-align: left;
  margin: auto;
  margin-top: 20px;
}

/*media q*/
@media (max-width: 1089px) {
  .card {
    width: 27% !important;
  }
  #card_title {
    font-size: 18px;
  }
  #card_txt {
    font-size: 15px;
  }
  .card:hover {
    margin-top: 20px !important;
  }
}

@media (max-width: 1018px) {
  .obj_container,
  .serv_container {
    display: block !important;
  }
  .card {
    margin: initial !important;
    width: 80% !important;
    margin: auto !important;
    margin-top: 20px !important;
    height:auto !important;
    padding-bottom:60px;
  }
}

.serv_container {
  width: 100%;
  height: auto;
  padding: 20px 0px 30px 0px;
  background: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tit {
  color: #131313;
  font-size: 25px;
  margin-left: 60px;
  font-weight: 900;
}

.serv_container a {
  color: #fff;
  background: var(--Blue);
  padding: 13px 60px 13px 60px;
  border-radius: 50px;
}
